html 
    head
        include ./header.pug
        title SpotifyInfo
    body 
        h1= `Hello, ${name}`
        .flex-container
            each widget in widgets 
                div(class="widget" id=widget.value.name) !{widget.value.html}
                br